<section class="phx-hero">
  <h2><%= gettext "About %{name}!", name: "Global News Feed" %></h2>
  <p>A Web Application built in Elixir/Phoenix that accesses the NewsApi and displays the Top Headlines for each News Resource.</p>
</section>

<section class="row">
  <article class="column">
  <p>Powered by News API</p>
  </article>
</section>