<section class="phx-hero">
  <h2><%= gettext "Welcome to the %{name}!", name: "Global News Feed" %></h2>
<%= link "Go to News Feed", to: Routes.feed_path(@conn, :index), class: "button" %>
   
</section>

